<div class="tx-vjeventdb3-event-gallary-item">

	<f:link.action action="show" arguments="{event : event}" pageUid="{settings.showEventPage}">
	<f:if condition="{event.teaserImages}">
		<div class="tx-vjeventdb3-event-teaserimages">
			<f:for each="{event.teaserImages}" as="image" iteration="iterator">
				<f:if condition="{iterator.isFirst}">
					<f:image src="{image.originalResource.publicUrl}" alt="{event.title}" width="{settings.gallery.imageWidth}" height="{settings.gallery.imageHeight}" />
				</f:if>
			</f:for>
		</div>
	</f:if>
	<span class="tx-vjeventdb3-event-gallary-item-title">{event.title}</span>
	</f:link.action>

</div>