

<div  class="tx-vjeventdb3-event">

	<f:cObject typoscriptObjectPath="plugin.tx_vjeventdb3.settings.show.header">
	
		{event.title}
		<f:if condition="{event.eventCategory}">
		<span class="tx-vjeventdb3-event-event-category">
			<f:render partial="Event/FlatEventCategoryList" arguments="{eventCategories : event.eventCategory}" />
		</span>
		</f:if>
	
	</f:cObject>

	<span class="tx-vjeventdb3-event-categories">
		<f:if condition="{event.ageCategory}">
			<span class="tx-vjeventdb3-event-age-category">
				<f:render partial="Event/FlatAgeCategoryList" arguments="{ageCategories : event.ageCategory}" />
			</span>
		</f:if>
	</span>
	
	<f:if condition="{settings.show.teaserText.show}">
		<p class="tx-vjeventdb3-event-teasertext">{event.teasertext}</p>
	</f:if>
	
	<f:if condition="{settings.show.teaserImages.show}">
		<div class="tx-vjeventdb3-event-teaserimages tx-vjeventdb3-images">
			<f:for each="{event.teaserimages}" as="image" >
				<f:image src="{image.originalResource.publicUrl}" alt="{event.name}" width="{settings.show.images.width}" height="{settings.show.images.height}" />
			</f:for>
		</div>		
	</f:if>
	
	<div class="tx-vjeventdb3-event-description">
		<f:format.html>{event.description}</f:format.html>
	</div>

	<div class="tx-vjeventdb3-event-images tx-vjeventdb3-images">
		<f:for each="{event.images}" as="image" >
			<f:image src="{image.originalResource.publicUrl}" alt="{event.name}" width="{settings.show.images.width}" height="{settings.show.images.height}" />
		</f:for>
	</div>		
	
	<f:if condition="{event.performers}">
		<div class="tx-vjeventdb3-event-performers">
			<!--  <h1><f:translate key="tx_vjeventdb3_domain_model_performer" /></h1> -->
			<f:for each="{event.performers}" as="performer">
				<f:render partial="Performer/Properties" arguments="{performer:performer}" />
			</f:for>
		</div>
	</f:if>
	
	<f:if condition="{showAnyDate}">	
		<f:if condition="{event.dates}">
			<div class="tx-vjeventdb3-event-dates">
				<h1><f:translate key="tx_vjeventdb3_dates" /></h1>
				<f:render partial="Date/List" arguments="{dates:event.dates}" />
			</div>
		</f:if>
	</f:if>

</div>