{namespace m=VJmedia\Vjeventdb3\ViewHelper}

<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />

<f:form 
	id="tx-vjeventdb3-event-order{data.uid}" 
	class="tx-vjeventdb3-event-order" 
	action="submit" 
	name="eventOrder" 
	object="{eventOrder}"
	addQueryString="true">

	<h1>

		<f:translate key="tx_vjeventdb3_event_order_form.order" />
		<f:if condition="{settings.eventOrderForm.selectableAgeCategory}">
			<f:then>
				<f:form.select id="events{data.uid}" name="events" options="{events}" property="event" optionValueField="uid" optionLabelField="title" />
				<f:form.select id="ages{data.uid}" name="ageCategory" options="{eventOrder.event.ageCategory}" property="ageCategory" optionValueField="uid" optionLabelField="name" />
			</f:then>
			<f:else>
				<f:form.select id="events{data.uid}" name="events" options="{events}" property="event" optionValueField="uid" optionLabelField="titleWithAgeCategory" />
			</f:else>
		</f:if>
		
		<f:if condition="{settings.eventOrderForm.selectableDate}">
			<f:form.select id="dates{data.uid}" name="date" options="{dateItems}" property="date" optionValueField="uid" optionLabelField="label" />
		</f:if>
	
	</h1>

	<div class="form-left">
		<dt>
			<label for="tx-vjeventdb3-event-order-surname"><f:translate key="tx_vjeventdb3_event_order_form.surname" />:</label>
		</dt>
		<dd>
			<f:form.textfield property="surname" id="tx-vjeventdb3-event-order-surname" required="true" />
		</dd>
		<dt>
			<label for="tx-vjeventdb3-event-order-name"><f:translate key="tx_vjeventdb3_event_order_form.name" />:</label>
		</dt>
		<dd>
			<f:form.textfield property="name" id="tx-vjeventdb3-event-order-name" required="true" />
		</dd>
		<dt>
			<label for="tx-vjeventdb3-event-order-address"><f:translate key="tx_vjeventdb3_event_order_form.address" />:</label>
		</dt>
		<dd>
			<f:form.textfield property="address" id="tx-vjeventdb3-event-order-address" />
		</dd>
		<dt>
			<label for="tx-vjeventdb3-event-order-telephone"><f:translate key="tx_vjeventdb3_event_order_form.telephone" />:</label>
		</dt>
		<dd>
			<f:form.textfield property="telephone" id="tx-vjeventdb3-event-order-telephone" />
		</dd>
		<dt>
			<label for="tx-vjeventdb3-event-order-email"><f:translate key="tx_vjeventdb3_event_order_form.email" />:</label>
		</dt>
		<dd>
			<f:form.textfield property="email" id="tx-vjeventdb3-event-order-email"  required="true" type="" />
		</dd>		
	</div>
	
	<div class="form-right">
		<dt>
			<label for="tx-vjeventdb3-event-order-message"><f:translate key="tx_vjeventdb3_event_order_form.message" />:</label>
		</dt>
		<dd>
			<f:form.textarea property="message" id="tx-vjeventdb3-event-order-message" />
		</dd>
		
		<f:if condition="{sr_freecap}">
			<f:render partial="FreeCaptchaElement" />
		</f:if>
		
		<div class="buttons">
			<f:form.submit id="tx-vjeventdb3-event-order-submit" value="{f:translate(key:'tx_vjeventdb3_event_order_form.submit')}"></f:form.submit>
		</div>
	
	</div>
	
</f:form>

<div class="clearer"></div>

<script>
	
	var vjeventdb3_eventsdata = <f:format.raw value="{eventsdata}" />;
	
	function vjeventdb3_updateDropDownOptions(dropdown, data) {

	    $(dropdown).empty();
	    $.each(data, function(val, text) {
	    	$(dropdown).append(new Option(text, val));
   		});

	    vjeventdb3_toggleVisibility(dropdown, false);
	}
	
	function vjeventdb3_toggleVisibility(dropdown, instant) {
	    if($(dropdown).children().size() === 0 || !$(dropdown).first().attr('value')) {
	    	if(instant) {
	    		$(dropdown).hide();	
	    	}
	    	else {
	    		$(dropdown).fadeOut();
	    	}
	    }
	    else {
	    	if(instant) {
	    		$(dropdown).show();
	    	}
	    	else {
	    		$(dropdown).fadeIn();
	    	}
	    }
	}
	
	$('#events{data.uid}').change(function() {
		var eventId = $(this).val();
		console.log('change ' + eventId);
		vjeventdb3_updateDropDownOptions($('#ages{data.uid}'), vjeventdb3_eventsdata[eventId]['ageCategory']);
		vjeventdb3_updateDropDownOptions($('#dates{data.uid}'), vjeventdb3_eventsdata[eventId]['dates']);
	});
	
	// bind unload so that ready is always fired (http://bugs.jquery.com/ticket/8684)
	$(window).unload(function(){});

	$(document).ready(function() { 
		console.log('ready');
		vjeventdb3_toggleVisibility($('#ages{data.uid}'), true);
		vjeventdb3_toggleVisibility($('#dates{data.uid}'), true);
	});
	
		
</script>

</f:section>