<div class="tx-vjeventdb3-performer">
	<h1>{performer.name}</h1>
	
	<span class="tx-vjeventdb3-performer-categories">
		<f:render partial="Performer/FlatCategoryList" arguments="{performerCategories : performer.performerCategory}" />
	</span>
	
	<f:format.html>{performer.description}</f:format.html>
	
	<div class="tx-vjeventdb3-performer tx-vjeventdb3-images">
		<f:for each="{performer.images}" as="image" >
			<f:image src="{image.originalResource.publicUrl}" alt="{performer.name}" width="200" />
		</f:for>
	</div>

</div>