
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages renderMode="div" />

<h1><f:translate key="tx_vjeventdb3_events.events" /></h1>

<ul>
<f:for each="{dates}" as="date">
	<li>{date.uid} | <f:format.date format="d.m">{date.startDate}</f:format.date> | <f:format.date format="H:i">{date.startTime}</f:format.date> | {date.frequency}</li>
</f:for>
</ul>


<ul>
<f:for each="{days}" as="day">
	<li><f:format.date format="{dateformat}">@{day}</f:format.date></li>
</f:for>
</ul>


<table class="tx_vjeventdb3" >
	<tr>
		<th><f:translate key="tx_vjeventdb3_domain_model_date.start_time" /></th>
		<th><f:translate key="tx_vjeventdb3_domain_model_event.event" /></th>
		<th><f:translate key="tx_vjeventdb3_domain_model_performer" /></th>
		<th><f:translate key="tx_vjeventdb3_events.duration" /></th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td>{event}</td>
			<td><f:format.date format="d.m">@{event}</f:format.date> | <f:format.date format="H:i">{event}</f:format.date></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subtitle}</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>


  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
  <p>Date: <input type="text" id="datepicker"></p>

</f:section>