
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages renderMode="div" />

<f:render partial="Date/DatePicker" arguments="{starttime: starttime, endtime : endtime, datepickerSettings : datepickerSettings}" />

<f:format.date format="l, d.m. H:i">{starttime}</f:format.date>
-
<f:format.date format="l, d.m. H:i">{endtime}</f:format.date>

<table class="tx-vjeventdb3-list">
	<thead>
		<tr>
			<th><f:translate key="tx_vjeventdb3_domain_model_date.start_time" /></th>
			<th></th>
			<th><f:translate key="tx_vjeventdb3_domain_model_event" /></th>
			<th><f:translate key="tx_vjeventdb3_domain_model_performer" /></th>
			<th><f:translate key="tx_vjeventdb3_duration" /></th>
		</tr>
	</thead>
	<f:for each="{years}" as="year">
		<f:if condition="{settings.list.sections.year.show}">
			<tr><td colspan="5"><f:format.date format="{settings.list.sections.year.format}">{year.date}</f:format.date></td></tr>
		</f:if>
		<f:for each="{year.months}" as="month">
			<f:if condition="{settings.list.sections.month.show}">
				<tr><td colspan="5"><f:format.date format="{settings.list.sections.date.format}">{month.date}</f:format.date></td></tr>
			</f:if>
			<f:for each="{month.days}" as="day">
				<f:if condition="{settings.list.sections.day.show}">
					<tr><td colspan="5"><f:format.date format="{settings.list.sections.day.format}">{day.date}</f:format.date></td></tr>
				</f:if>
				<f:for each="{day.dates}" as="date">
					<tr>
						<td><f:format.date format="{settings.list.timeFormat}">{date.startTime}</f:format.date></td>
						<td></td>
						<td><f:link.action action="show" arguments="{event : date.event}">{date.event.title}</f:link.action></td>
						<td>
							<f:render partial="Performer/FlatList" arguments="{performers: date.event.performers}" />							
						</td>
						<td>{date.duration}</td>
					</tr>
				</f:for>
			</f:for>
		</f:for>
	</f:for>
</table>

</f:section>