
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages renderMode="div" />

<div class="tx-vjeventdb3-show">

<f:render partial="Event/Properties" arguments="{event:event}" />

<f:if condition="{showAnyDate}">

	<f:if condition="{alldates}">
	<div class="tx-vjeventdb3-event-dates">
		<h2><f:translate key="tx_vjeventdb3_allDates" /></h2>
		<ul>
			<f:for each="{alldates}" as="date">
				<li>
					<f:render partial="Date/Single" arguments="{date:date}" />
				</li>
			</f:for>
		</ul>
	</div>
	</f:if>
	
	<f:if condition="{nextdates}">
	<div class="tx-vjeventdb3-event-dates">
		<h2><f:translate key="tx_vjeventdb3_nextDates" /></h2>
		<ul>
			<f:for each="{nextdates}" as="date">
				<li>
					<f:render partial="Date/Single" arguments="{date:date}" />
				</li>
			</f:for>
		</ul>
	</div>
	</f:if>
	
	
	<f:if condition="{nextdate}">
	<div class="tx-vjeventdb3-event-dates">
		<h2><f:translate key="tx_vjeventdb3_nextDate" /></h2>
		<ul class="tx-vjeventdb-dates">
			<f:for each="{nextdate}" as="date">
				<li>
					<f:render partial="Date/Single" arguments="{date:date}" />
				</li>
			</f:for>
		</ul>
	</div>
	</f:if>

</f:if>

<f:if condition="{priceCategories}">
	<div class="tx-vjeventdb3-prices">
		<h1><f:translate key="tx_vjeventdb3_prices" /></h1>
		<f:render partial="Price/ListByCategory" arguments="{priceCategories : priceCategories}" />
	</div>
</f:if>

<a href="javascript:history.back();"><f:translate key="tx_vjeventdb3_back_to_list" /></a>

</div>

</f:section>