<f:if condition="{date.frequency} == 0">
	<f:then>
		<f:format.date format="l, d.m.">{date.startDate.timestamp}</f:format.date>
	</f:then>
	<f:else>

		<f:if condition="{f:format.date(date: '{date.endDate}', format: 'U')}">
			<f:then>
				Von
			</f:then>
			<f:else>
				Ab
			</f:else>
		</f:if>		
		
		<f:if condition="{date.frequency} == 1">
			<f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date> täglich
		</f:if>
		<f:if condition="{date.frequency} == 2">
			<f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date> jeden <f:format.date format="l">{date.startDate.timestamp}</f:format.date>
		</f:if>
		<f:if condition="{date.frequency} == 3">
			<f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date> jeden <f:format.date format="d.">{date.startDate.timestamp}</f:format.date> im Monat
		</f:if>
		<f:if condition="{date.frequency} == 4">
			<f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date> jeden <f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date> im Jahr
		</f:if>
	
		<f:if condition="{f:format.date(date: '{date.endDate}', format: 'U')}">
			<f:then>
				bis {f:format.date(date: '{date.endDate}', format: 'd.m.')}
			</f:then>
		</f:if>
		
	</f:else>

</f:if>