<f:if condition="{date.frequency} == 0">
	<f:then>
		<f:format.date format="{f:translate(key:'tx_vjeventdb3_domain_model_date.once')}">{date.startDate.timestamp}</f:format.date>
	</f:then>
	<f:else>

		<f:if condition="{settings.showStartDay}">
			<f:if condition="{f:format.date(date: '{date.endDate}', format: 'U')}">
				<f:then>{f:translate(key:'tx_vjeventdb3_domain_model_date.From')}</f:then>
				<f:else>{f:translate(key:'tx_vjeventdb3_domain_model_date.FromWithEnd')}</f:else>
			</f:if>
			<f:format.date format="{f:translate(key:'tx_vjeventdb3_domain_model_date.dateFormat')}">{date.startDate.timestamp}</f:format.date> 
		</f:if>		
		
		<f:if condition="{date.frequency} == 1">
			<f:translate key="tx_vjeventdb3_domain_model_date.daily" />
		</f:if>
		<f:if condition="{date.frequency} == 2">
			<f:translate key="tx_vjeventdb3_domain_model_date.every" /> <f:format.date format="l">{date.startDate.timestamp}</f:format.date>
		</f:if>
		<f:if condition="{date.frequency} == 3">
			 <f:translate key="tx_vjeventdb3_domain_model_date.every" /> <f:format.date format="d.">{date.startDate.timestamp}</f:format.date>
		</f:if>
		<f:if condition="{date.frequency} == 4">
			<f:translate key="tx_vjeventdb3_domain_model_date.every" /> <f:format.date format="d.m.">{date.startDate.timestamp}</f:format.date>
		</f:if>
	
		<f:if condition="{f:format.date(date: '{date.endDate}', format: 'U')}">
			<f:then>
				<f:translate key="tx_vjeventdb3_domain_model_date.to" /> 
				<f:format.date format="{f:translate(key:'tx_vjeventdb3_domain_model_date.dateFormat')}">{date.endDate}</f:format.date>
			</f:then>
		</f:if>
		
	</f:else>

</f:if>