<f:if condition="{date.startTime}">

	<f:if condition="{date.endTime}">
		<f:then><f:translate key="tx_vjeventdb3_domain_model_date.from" /></f:then>
		<f:else><f:translate key="tx_vjeventdb3_domain_model_date.at" /></f:else>
	</f:if>
	<f:format.date format="{f:translate(key:'tx_vjeventdb3_domain_model_date.timeFormat')}">{date.startTime}</f:format.date>
	<f:if condition="{date.endTime}">
		<f:then><f:translate key="tx_vjeventdb3_domain_model_date.to" /> <f:format.date format="{f:translate(key:'tx_vjeventdb3_domain_model_date.timeFormat')}">{date.endTime}</f:format.date></f:then>
	</f:if>
			
</f:if>