{namespace m=VJmedia\Vjeventdb3\ViewHelper}

<f:if condition="{date.startTime}">

	<f:if condition="{date.endTime}">
		<f:then><f:translate key="tx_vjeventdb3_domain_model_date.from" /></f:then>
		<f:else><f:translate key="tx_vjeventdb3_domain_model_date.at" /></f:else>
	</f:if>
	<m:timestamp time="{date.startTime}" format="{settings.timeFormat}" adjust="{settings.adjustFrontendTime}" />&nbsp;<f:translate key="tx_vjeventdb3_domain_model_date.clock" /></td>
	<f:if condition="{date.endTime}">
		<f:then><f:translate key="tx_vjeventdb3_domain_model_date.to" /> 
		<m:timestamp time="{date.endTime}" format="{settings.timeFormat}" adjust="{settings.adjustFrontendTime}" /></f:then>
	</f:if>
			
</f:if>